# Adjust the values and rename this file to .env

JIGSAW_API_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
JIGSAW_URL=https://jigsaw.thoughtworks.net/api
DB_DEVELOPMENT=development.sqlite
DB_TEST=test.sqlite
DB_PRODUCTION=production.sqlite
