# Adjust the values and rename this file to .env

JIGSAW_API_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
JIGSAW_URL=https://jigsaw.thoughtworks.net/api
DB_TEST=jigsaw-test.sqlite
DB=jigsaw.sqlite
CHUNK=2
